
body{
    background: url("images/colorful-background-abstract-digital-art-uhdpaper.com-hd-6.2640.jpg");
    font-family: 'Quicksand', sans-serif;
}

.all{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.timer{
    margin-top: 10vh;
    padding: 15px 3vw;
    border: 0;
    text-decoration: none;
    border-radius: 5px;
    background-color: rgba(255,255,255,0.4);
    border: 1px solid rgba(255,255,255,0.1);
    backdrop-filter: blur(30px);
    color: rgba(0,0,0,0.8);
    font-size: 14px;
    letter-spacing: 2px;
    cursor: pointer;
    text-transform: uppercase;
    transition: all 0.2s ease-in-out;
    cursor:auto;
}

.time{
    display: inline-block;
    font-size: 15vw;
}

.setting{
    margin-top: 15vh;
}

.setting-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.declaration{
    font-size: 5vw;
}
.time-setting{
    margin-top: 5vh;
}

/* MAIN TIME SETTER BUTTONS OR SCROLLERS */
.setter{
    background: transparent;
    border: none;
    border-radius: 5px;
    width: 100px;
    height: 10vh;
    font-size: 7vh;
    background-color: rgba(255,255,255,0.4);
    text-align: center;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
}
.setter:focus{
    background-color: rgba(255,255,255,0.7);
    color:rgba(0,0,0);
}

/* Code to remove the arrow buttons from innput type="number" */

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type=number]{
    -moz-appearance: textfield;
}




.indicator-container{
    display: flex;
    flex-direction: row;
}
.indicator{
    display: inline;
    margin: auto;
    font-size: 20px;
}
.indi-hour{
    margin-left: 2.5em;
}
.indi-minute{
    margin-left: 2em;
}

.buttons{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 2vh;
}
button{
    margin: auto;
    
    
    /* Stole this style of glass morphism from a website and tweaked it a little  */
    
    display: inline-block;
    padding: 15px 20px;
    border: 0;
    text-decoration: none;
    border-radius: 5px;
    background-color: rgba(255,255,255,0.4);
    border: 1px solid rgba(255,255,255,0.1);
    backdrop-filter: blur(30px);
    color: rgba(0,0,0,0.8);
    font-size: 14px;
    letter-spacing: 2px;
    cursor: pointer;
    text-transform: uppercase;
    transition: all 0.2s ease-in-out;
}

button:hover{
    background-color: rgba(255,255,255,0.7);
    color:rgba(0,0,0);
}

@media (max-width: 444px) {
    .setter{
        width: 20vw;
    }
    .indicator{
        margin: auto;
    }
    .time{
        font-size: 15vw;
    }
    .indicator-container{
        display: flex;
        justify-content: space-around;   
    }
    .buttons{
        margin-top: 10vh;
    }
    .timer{
        margin-top: 20vh;
        padding: 15px 0;
    }
    .declaration{
        font-size: 10vw;
    }
}